@use "@/styles/variables" as *;

footer {
  background: linear-gradient(180deg, $gray-300 0%, $gray-400 100%);
  padding: $space-xl 0;
  text-align: center;
  color: $gray-900;
  font-size: $text-lg;
}
